body, .main, html{
  height:100%;
  font-family: verdana;
  margin: 0px;
  font-size: 16px;
}

a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;
}

.topbar{
  height:32px;
  background-color: black;
  color: lightblue;
  padding:0 50px;
}
.right {
  float:right;
  margin-top: 5px;
}
.left{
  float:left;
  margin-top: 5px;
}


.ball{
  border-color: black;
  border-style: solid;
  position:absolute;
  z-index: 1;
}
.peg{
  border-color:red;
  border-style:solid;
  position:absolute;
}